body{
	background-color : gray;
	font-family : Arial, Tahoma;
	font-size : 12px;
	margin : 2%;
	padding :2%;
}

#main{
	width : 80%;
	padding : 0;
	margin-left: auto;
}

#head{

	width : 80%;
	height : 20%;
	border : 1px solid #CDCDCD;
	text-align : center;
    background-color :#b3ff66;
	padding-top : 5%;
	border : 1px solid #004C00;


}


#content{
	width : 80%;
	height : 20%;
	min-height : 600px;
    background-color:#4dff4d;
}


#footer
{
	width : 80%;
	height: 10%;
	clear: both;
	border : 1px solid #004C00;
	background-color :#66ffff;
	padding-top : 2%;
	text-align: center;
}

/*dropdown làm menu ngang*/
*{
	margin : 0;
	padding : 0;
}



#menu ul
{
	list-style-type : none;
	background : #1f568B;
	text-align : center;
	width : 80%;

	/*neu muon tao menu doc ta them thuoc tinh  width vaf padding*/
}



#menu ul li{
	color :#f1f1f1;
	/*display : block hien thi doc*/
	display : inline-table;
	width : 120px;
	height : 40px;
	/*căn giữa dòng*/
	line-height : 40px;
	min-height : 20px;
	position : relative;
}

#menu ul li a {
	color: #f1f1f1;
	/*bo dau gach chan*/
	text-decoration : none;
	display : inline;
}

#menu ul li a:hover {
	background : #f1f1f1;
	color:#333;
}
/*ẩn sub-menu*/
#menu ul li > .sub-menu{
	display : none;
	position:absolute;
}

/*chọn submenu khi dk rê chuột vào*/
#menu ul li:hover .sub-menu
{
	display : block;
}


@media screen and (min-width : 600px )
{
	#main{
		max-width : 100%;
		margin : 0 auto;
	
	}
	
	#head{
		max-width : 100%;
		margin : 0 auto;
	    display : inline-table;

	}
	
	
    #footer	{
		max-width : 100%;
		margin : 0 auto;
	    display : inline-table;

	}
}
}